footer {
	color: white;
	font-family: Arial;
	font-size: 18px;
	position: fixed;
	bottom: 0; 
	left: 0; 
	right: 0;
	background-color: black;
}

.boutonConnexion{
	float: right;
	margin:0;
	margin-right: 20px;
}
/*header{
	width: 100%;
	height: 70px;
	margin-right: 0;
	margin-left: 0;
	background-color: #333333;
	line-height: 65px;
}*/
img{
	background-color: black;
	height: 200px;
}
.accueilContainer{
	padding: 100px;
}
.inscriptionForm{
	padding: 100px;
}
.logo{
	float: left;
	color: white;
	line-height: 65px;
	margin-left: 20px;

}
.card{
	margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
	min-width: 400px;
	max-width: 400px;
	height: 250px;
	transition: transform .2s;
}
.card:hover{
	transform: scale(1.05);
}
.resto{
	border: 1px solid black;
	border-radius: 5px;
}
.card-body{
	padding-bottom: : -20px;
}
.card-text-nom{
	float: left;
	width: 33%;
	text-align: center;
}
.card-text-categorie{
	float: right;
	width: 33%;
	text-align: center;
}
.card-text-note{
	float: right;
	width: 33%;
	text-align: center;
}
body{
	margin:0;
	background-color: white;
	/*font-family: 'Montserrat', sans-serif;*/
}

img{

}
#defilant{
	width: 800px;
}

.menuCat {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding-bottom : 1%;
	padding-top: 1%;
}

.menuCat img {
	height: 100px;
	width: 150px;
}
